@import url(https://geniusxd.github.io/GenX-Krunker/main/motherload.css);

:root {
    --text-color: #3f3f3f;
    --accent-color: #cfbfff;
    --health-color: #fff;
    --ammo-color: #fff;
    --premium-color: #cfbfff;
    --verified-color: #cfbfff;
    --menu-bg-color: rgba(255, 255, 255, 1);
    --menu-bg-color-secondary: rgba(230, 230, 230, 1);
    --ingame-bg-color: rgba(15, 15, 15, .2);
    --text-transform: none;
}

@font-face {
    font-family: gamefont;
    src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2);
}

@font-face {
    font-family: hpammo;
    src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2);
}

#loadingBg {
    background-image: url(https://i1.wp.com/cdn-images-1.medium.com/max/1600/0*s1JsVXyYkdEIx8MO.gif);
}

.skinList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;
  }
  
  .skinList .classCard {
    width: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: var(--mainFont);
    text-shadow: unset;
    height: 100px;
    -webkit-transition: color 280ms 200ms;
    transition: color 280ms 200ms;
  }
  
  .skinList .classCard .classWeap {
    font-family: var(--mainFont);
    text-shadow: unset;
    -webkit-transition: opacity 280ms 200ms;
    transition: opacity 280ms 200ms;
  }
  
  .skinList .classCard .classImgC {
    position: absolute;
    margin-top: unset;
    width: 100px;
    margin: unset;
    right: 0;
    border-radius: 0;
    z-index: 12222 !important;
    -webkit-transition: -webkit-transform 500ms 200ms ease-in-out;
    transition: -webkit-transform 500ms 200ms ease-in-out;
    transition: transform 500ms 200ms ease-in-out;
    transition: transform 500ms 200ms ease-in-out, -webkit-transform 500ms 200ms ease-in-out;
  }
  
  .skinList .classCard .classXPBar {
    BOX-SHADOW: unset;
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 0;
    background-color: var(--primaryBg);
    -webkit-transition: opacity 280ms 200ms;
    transition: opacity 280ms 200ms;
  }
  
  .skinList .classCard .classXPBar .clsXPBarC {
    background-color: var(--accentColor);
    margin: unset;
    height: 100%;
  }
  
  .skinList .classCard .classLvl {
    font-family: var(--mainFont);
    text-shadow: unset;
    position: absolute;
    top: unset;
    bottom: 10%;
    font-size: 20px;
    -webkit-transition: opacity 280ms 200ms ease;
    transition: opacity 280ms 200ms ease;
    width: 100%;
    text-align: left;
    left: 10px;
  }
  
  .skinList .classCard .classHP {
    font-family: var(--mainFont);
    text-shadow: unset;
    color: var(--c_white);
    position: absolute;
    top: unset;
    left: 13px;
    font-size: 20px;
    bottom: 30%;
    right: -25%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: opacity 280ms 200ms;
    transition: opacity 280ms 200ms;
  }
  
  .skinList .classCard .classHP span {
    font-family: var(--mainFont);
    text-shadow: unset;
    color: var(--accentColor);
  }
  
  .skinList .classCard:hover {
    color: transparent;
  }
  
  .skinList .classCard:hover .classWeap {
    opacity: 0%;
  }
  
  .skinList .classCard:hover .classImgC {
    -webkit-transform: translateX(-115px) scale(2) translateY(10px);
            transform: translateX(-115px) scale(2) translateY(10px);
  }
  
  .skinList .classCard:hover .classXPBar {
    opacity: 0%;
  }
  
  .skinList .classCard:hover .classLvl {
    opacity: 0%;
  }
  
  .skinList .classCard:hover .classHP {
    opacity: 0%;
  }
  
  #skinList {
    margin-top: 8px;
    margin-bottom: -4px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  #skinList .skinCard {
    text-align: unset;
    margin-bottom: unset;
    margin-left: unset;
    margin-right: unset;
    padding: unset;
    padding-top: unset;
    width: auto;
    vertical-align: unset;
    background-color: transparent;
    border-radius: 0px;
    display: block;
    font-size: 20px;
    position: relative;
    z-index: 1;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    padding-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: var(--mainFont);
    text-shadow: unset !important;
    height: 120px !important;
  }
  
  #skinList .skinCard .itemOwn {
    display: none;
  }
  
  #skinList .skinCard .itemSea {
    display: none;
  }
  
  #skinList .skinCard .skinImg {
    margin-top: unset;
    margin-bottom: unset;
    position: absolute;
    height: 100%;
    width: auto;
    right: 40px;
  }
  
  #skinList .skinCard .skinImgC {
    position: absolute;
    z-index: -122;
    left: 25%;
  }
  
  #skinList .skinCard .skinImgD {
    position: absolute;
    left: 65px;
    bottom: -20px;
  }
  
  #skinList .skinCard .skinRandom {
    display: none;
  }
  
  #skinList .skinCard .secImg {
    position: absolute;
    left: 60px;
    top: 10px;
    z-index: -1 !important;
    width: 80px;
    height: 80px;
  }
  
  #skinList .skinCard .selctInfoBtn {
    padding: unset;
    padding-bottom: unset;
    padding-top: unser;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--accentColor);
    font-family: var(--mainFont);
    font-size: 20px;
    background: var(--subBgST);
    padding-left: 12px;
    padding-right: 12px;
    -webkit-transition: color 280ms, background 280ms;
    transition: color 280ms, background 280ms;
  }
  
  #skinList .skinCard .selctInfoBtn:hover {
    color: var(--subBg);
    background: var(--accentColor);
  }
  
  #skinList .skinCard[style="color:#292929;border:5px solid#292929"] {
    -webkit-animation: contraCard 500ms infinite;
            animation: contraCard 500ms infinite;
  }
  
  #skinList .noBtnCard {
    height: 120px;
    width: auto;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    border-top: 0 !important;
    margin-left: unset;
    margin-right: unset;
    margin-bottom: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: var(--mainFont);
    text-shadow: unset !important;
    height: 120px !important;
  }
  
  #skinList .noBtnCard .sprayImg, #skinList .noBtnCard .noBtnImgC {
    position: absolute;
    left: 60px;
    top: 10px;
    z-index: -1 !important;
    width: 80px;
    height: 80px;
  }
  
  
  #skinList .noBtnCard .noBtnImgR {
    position: absolute;
    left: 95px;
    top: 40px;
    z-index: -1 !important;
    width: 30px;
    height: 30px;
  }
  
  #skinList .noBtnCard .customReticle {
    position: absolute;
    top: 40px;
    width: 182px;
  }
  
  #skinList .noBtnCard .itemOwn {
    display: none;
  }
  
  #skinList .noBtnCard .skinRandom {
    display: none;
  }
  
  #skinList .blackShad {
    text-shadow: unset;
  }
